[submodule "gpio"]
	path = gpio
	url = https://github.com/harrypower/Rpi_Gforth_GPIO.git
[submodule "htdocs/chart"]
	path = htdocs/chart
	url = https://github.com/nnnick/Chart.js.git

[submodule "Gforth-Tools"]
	path = Gforth-Tools
	url = https://github.com/harrypower/Gforth-Tools.git
[submodule "BBB_Gforth_gpio"]
	path = BBB_Gforth_gpio
	url = https://github.com/harrypower/BBB_Gforth_gpio.git
