# The real identity file is called identityinfo.data
# This is the identity reported for this device
# The format is "id" followed by ":" followed by the identity followed by ":"
# The identity is the stuff between the ":" marks 
# Below is an example identity of 192.168.0.114
id:192.168.0.114: